* html {
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(150px, 1fr) 3fr;
    grid-template-rows: minmax(170px, 1fr) 1fr 8fr;
}

.side-bar {
    background-color: cornflowerblue;
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    justify-items: evenly;
    padding: 0.5rem;
    font-size: 100%;
}

.side-bar-title-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo {
    width: 25%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(352deg) brightness(108%) contrast(101%);
}

.icon-wrapper img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(352deg) brightness(108%) contrast(101%);
}

.side-bar>ul,
.side-bar>div {
    list-style: none;
    color: white;
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
    flex-direction: column;
}

ul>li {
    justify-content: start;
}

ul img {
    width: 25%;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    margin: 0.1rem 0.3rem;
}

.header {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: white;
    padding: 1rem 1.5rem;
    height: fit-content;
}

.upper-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-header-left {
    display: flex;
    justify-content: start;
    flex-grow: 1;
    margin-right: 1rem;
}

.upper-header-right {
    display: flex;
    justify-content: space-between;
    width: 12rem;
}

.search {
    margin-right: 1rem;
}

p.company-name {
    font-weight: bold;

}

.header input {
    flex-grow: 1;
    background-color: lightgrey;
    border: none;
}

.lower-header-row {
    display: flex;
    justify-content: space-between;
}

.lower-header-left {
    display: flex;
    align-items: center;
}

.company-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 1rem 1rem;
}

.company-greeting p {
    font-weight: bold;
}

.lower-header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

button {
    background-color: rgb(82, 165, 216);
    color: white;
    border-radius: 20px;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

.main-content {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: lightgrey;
    display: grid;
    grid-template: 0.5fr 3fr 3fr 3fr / 1.25fr 1.25fr 1fr;
    gap: 0.5rem;
}

.your-projects {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 0.6rem;
    align-self: flex-end;
}

.annoucements {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-left: 0.6rem;
    align-self: flex-end;
}

.card-1 {
    grid-area: 2/1/3/2;
}

.card-2 {
    grid-area: 2/2/3/3;
}

.card-3 {
    grid-area: 3/1/4/2;
}

.card-4 {
    grid-area: 3/2/4/3
}

.card-5 {
    grid-area: 4/1/5/2
}

.card-6 {
    grid-area: 4/2/5/3
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
    background-color: white;
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-left: 8px solid orange;
    border-radius: 10px;
}

.card-icon-container {
    display: flex;
    justify-content: flex-end;
}

.card-icon-container img {
    margin: 0 5%;
}

.main-content-right-column-subcontainer {
    grid-area: 2/3/5/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 4fr;
}

.announcement-feed {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    border-radius: 10px;
}

.trending {
    grid-area: 2/1/3/2;
    align-self: flex-end;
}

.trending-feed {
    grid-area: 3/1/4/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
    border-radius: 10px;
}

.trending-feed-mini-container {
    display: flex;
}

.trending-feed img {
    margin: 0 0.5rem;
}

.trending-feed p {}