.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 10fr;
}

.side-bar {
    background-color: cornflowerblue;
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    justify-items: evenly;
    padding: 0.5rem;
    font-size: 100%;
}

.side-bar-title-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo {
    width: 25%;
}

.side-bar>ul,
.side-bar>div {
    list-style: none;
    color: white;
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
    flex-direction: column;
}

ul>li {
    justify-content: start;
}

ul img {
    width: 25%;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    margin: 0.1rem 0.3rem;
}

.header {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: grey;
    padding: 1rem 1.5rem;
}

.upper-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-header-left {
    display: flex;
    justify-content: start;
    width: 20rem;
}

.upper-header-right {
    display: flex;
    justify-content: space-between;
    width: 12rem;
}

.search {
    margin-right: 1rem;
}

p.company-name {
    font-weight: bold;
}